* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 30px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
#header {
    display: block;

    /*border: solid 1px red;*/
    position: fixed;
    width: 100%;
    margin-top: 0;

}

#main-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;

}
#main-menu li {
    display: block;
    background: white;

    /*border: solid 1px chartreuse;*/
}
.menu-left {
    /*width: 25%;*/
    margin: 0 20px;
    padding: 0 10px;

}
.menu-between {
    margin: 0 20px;

}
.menu-right {
    padding: 0;
}


#banner {
    display: block;
    /*position: absolute;*/
    margin-top: 70px;
    height: 1250px;
    /*position: relative;*/
    background: #EBEDF0;
}
#banner ul {
    /*display: block;*/
    /*border: solid 1px red;*/
    /*position: absolute;*/
    /*    float: left;*/
    /*    padding: 5px;*/
}
[class*="col-"] {
    float: left;
    padding: 5px;
}
#banner ul li {
    width: 100%;
    /*border: solid 1px green;*/
    text-align: center;
}
.banner-left li {
padding: 20px;
margin: 20px 0;
}
.banner-between li {
    padding: 30px;
    font-size: 40px;
    margin: 20px 0;

}
.banner-right li {

    height: 40px;
    margin: 20px 0;
}
@media screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 50%;
    }
}


/*nav {*/
/*    background: white;*/
/*}*/
/*nav #main-menu {*/
/*    display: flex;*/
/*}*/
/*nav #main-menu li img {*/
/*    display: block;*/
/*}*/
/*nav #main-menu li  {*/
    /*padding: 0 20px;*/

    /*border: solid 1px red;*/
/*}*/
/*.menu-left {*/
/*    margin: 0 auto;*/
/*}*/
/*.menu-between {*/
/*    margin: 0 auto;*/

/*}*/
/*.menu-right {*/

/*    padding: 0;*/
/*}*/
/*#header {*/
/*   position: fixed;*/
/*    width: 100%;*/
/*    margin-top: 0;*/
/*    display: block;*/
/*}*/
/*#banner {*/
/*    display: block;*/
/*    padding: 20px;*/
/*}*/
/*.banner-left {*/
/*    display: block;*/
/*}*/
/*.banner-left li {*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    text-align: center;*/

/*    padding: 30px;*/
/*    border: solid 1px red;*/
/*}*/










   .col-1 {
       width: 8.33%
   }

   .col-2 {
       width: 16.66%
   }

   .col-3 {
       width: 25%
   }

   .col-4 {
       width: 33.3%
   }

   .col-5 {
       width: 41.66%
   }

   .col-6 {
       width: 50%
   }

   .col-7 {
       width: 58.33%
   }

   .col-8 {
       width: 66.66%;
   }

   .col-9 {
       width: 75%;
   }

   .col-10 {
       width: 83.33%;
   }

   .col-11 {
       width: 91.66%;
   }

   .col-12 {
       width: 100%;
   }

